@mixin tablet {
    @media (max-width: 500px) {
        @content;
    }
}

@mixin phone {
    @media (max-width: 320px) {
        @content;
    }
}

@mixin mini {
    @media (max-width: 180px) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Helvetica, sans-serif;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    @include tablet {
        font-size: 80%;
    }
    @include phone {
        font-size: 70%;
    }
    @include mini {
        font-size: 50%;
    }
}

a {
    color: #FFF; 
}

.links {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex: 1 1;
    article {
        background: #2196f3;
        padding: 20px;
    }
}

.network-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -80px;
    margin: 20px;
    padding: 5px 20px;
    background: black;
    border-radius: 3px;
    transform: translateZ(0);
    will-change: all;
    transition: all .3s;
    opacity: 0;
    &.active {
        bottom: 0;
        opacity: 1;
    }
    .network-status-circle {
        width: 10px;
        height: 10px;
        border-radius: 75%;
        &.green {
            background: green;
        }
        &.red {
            background: red;
        }
    }
    .network-status-text {
        color: #FFF;
        margin-left: 15px;
    }
}

.terminal {
    font-size: 1.3rem;
    margin: 10px;
    position: absolute;
    top: 0;
    width: calc(100% - 20px);
    height: calc(100% - 79px);
    overflow: scroll;
    border: 1px solid;
    padding: 10px;
    @include tablet {
        height: calc(100% - 73px);
    }
    @include phone {
        margin: 7px;
        padding: 5px;
        width: calc(100% - 14px);
        height: calc(100% - 64px);
    }
    @include mini {
        margin: 5px;
        width: calc(100% - 10px);
        height: calc(100% - 55px);
    }
    p {
        color: #00BFFF;
        &::before {
            content: "> "
        }
        &.user {
            color: #313131;
        }
        margin-bottom: 0;
    }
    span {
        font-size: 1rem;
        color: #0078a0;
    }
}

.input {
    outline: none;
    border: 1px dashed;
    margin: 10px;
    padding: 10px;
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    width: calc(100vw - 20px);
    @include phone {
        margin: 7px;
        width: calc(100vw - 14px);
    }
    @include mini {
        margin: 5px;
        width: calc(100vw - 10px);
    }
}